.layout-container {
    height: 100vh;
}

.page-content {
    padding: 24px;
}

.mat-drawer.mat-drawer-opened.mat-drawer-opened {
    transform: none;
    border-radius: inherit;
}

.mat-sidenav {
    border-right-color: #ffffff;
}