<table mat-table [dataSource]="flights || []" class="flight-table">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
            Flight ID
        </th>
        <td mat-cell *matCellDef="let flight">
            {{ flight.id }}
        </td>
    </ng-container>

    <ng-container matColumnDef="aircraftType">
        <th mat-header-cell *matHeaderCellDef>
            Aircraft
        </th>
        <td mat-cell *matCellDef="let flight">
            {{ flight.aircraftType }}
        </td>
    </ng-container>

    <ng-container matColumnDef="departureAirport">
        <th mat-header-cell *matHeaderCellDef>
            Departure
        </th>
        <td mat-cell *matCellDef="let flight">
            {{ flight.departureAirport }}
        </td>
    </ng-container>

    <ng-container matColumnDef="destinationAirport">
        <th mat-header-cell *matHeaderCellDef>
            Destination
        </th>
        <td mat-cell *matCellDef="let flight">
            {{ flight.destinationAirport }}
        </td>
    </ng-container>

    <ng-container matColumnDef="firRegion">
        <th mat-header-cell *matHeaderCellDef>
            FIR
        </th>
        <td mat-cell *matCellDef="let flight">
            {{ flight.firRegion }}
        </td>
    </ng-container>

    <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef>
            Latitude
        </th>
        <td mat-cell *matCellDef="let flight">
            {{ flight.latitude.toFixed(6) }}
        </td>
    </ng-container>

    <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef>
            Longitude
        </th>
        <td mat-cell *matCellDef="let flight">
            {{ flight.longitude.toFixed(6) }}
        </td>
    </ng-container>

    <ng-container matColumnDef="altitude">
        <th mat-header-cell *matHeaderCellDef>
            Altitude
        </th>
        <td mat-cell *matCellDef="let flight">
            {{ flight.altitude }}
        </td>
    </ng-container>

    <ng-container matColumnDef="speed">
        <th mat-header-cell *matHeaderCellDef>
            Speed
        </th>
        <td mat-cell *matCellDef="let flight">
            {{ flight.speed }}
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
            Status
        </th>
        <td mat-cell *matCellDef="let flight">
            <mat-chip [ngClass]="getStatusClass(flight.status)">
                {{ flight.status }}
            </mat-chip>
        </td>
    </ng-container>

    <ng-container matColumnDef="eta">
        <th mat-header-cell *matHeaderCellDef>
            ETA
        </th>
        <td mat-cell *matCellDef="let flight">
            {{ flight.eta }}
        </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdated">
        <th mat-header-cell *matHeaderCellDef>
            Last Updated
        </th>
        <td mat-cell *matCellDef="let flight">
            {{ flight.lastUpdated | date:'mediumTime' }}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef=" let row; columns: displayedColumns;" (click)="openFlightDetails(row.id)" class="table-row"></tr>

</table>